@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  min-height: 100vh;
  width: 100%;
  background: #f4f0f2;
}

a
{
  color: #602bb6;
  display: flex;
  text-decoration: none;
  align-items: center;
  border-radius: 20px;
  font-size: 16px;
  white-space: nowrap;
  transition: all 0.2s ease-in-out;
}
.home_content {
  position: absolute;
  height: 100%;
  width: calc(100% = 300px);
  left: 80px;
  transition: all 0.2s ease-in-out;
}
.home_content .welcome {
  font-size: 25px;
  font-weight: bold;
  color: #000000;
  margin-left: 400px;
  margin-top: 150px;
}

.home_content .welcome .sub-heading {
  font-size: 16px;
  margin-top: 40px;
}

.home_content .welcome .task {
  font-size: 14px;
}

.sidebar.active ~ .home_content {
  left: 300px;
}
/* .home_content .welcome ul{
    list-style: none;
    display: inline-block;
} */
.home_content .welcome p {
  margin-top: 50px;
}
.btn{
  margin-top: 0px;
  display: inline-block;
  font-weight: bold;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid #754ef9;
  padding: 0 20px;
  font-size: 15px;
  line-height: 38px;
  border-radius: 6px;
  color: #fff;
  cursor: pointer;
  z-index: 5;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  /* -webkit-box-shadow: 0px 5px 8px 0px rgba(118, 78, 249, 0.55);
  -moz-box-shadow: 0px 5px 8px 0px rgba(118, 78, 249, 0.55);
  box-shadow: 0px 5px 8px 0px rgba(118, 78, 249, 0.55); */
  background-color: #754ef9;
  }
  .btn:hover {
    background-color: #F4F0F2;
    color: #754ef9;
    border-color: #754ef9; }

    .btn-2{
      margin-top: 0px;
      display: inline-block;
      font-weight: bold;
      text-align: center;
      white-space: nowrap;
      vertical-align: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      border: 1px solid #754ef9;
      padding: 0 20px;
      font-size: 15px;
      line-height: 38px;
      border-radius: 6px;
      color: #754ef9;
      cursor: pointer;
      z-index: 5;
      -webkit-transition: all 0.3s ease-out 0s;
      -moz-transition: all 0.3s ease-out 0s;
      -ms-transition: all 0.3s ease-out 0s;
      -o-transition: all 0.3s ease-out 0s;
      transition: all 0.3s ease-out 0s;
      /* -webkit-box-shadow: 0px 5px 8px 0px rgba(118, 78, 249, 0.55);
      -moz-box-shadow: 0px 5px 8px 0px rgba(118, 78, 249, 0.55);
      box-shadow: 0px 5px 8px 0px rgba(118, 78, 249, 0.55); */
      background-color: #F4F0F2;
      }
      .btn-2:hover {
        background-color: #754ef9;
        color: #fff;
        border-color: #754ef9; }

        .btn-3{
          margin-top: 0px;
          display: inline-block;
          font-weight: bold;
          text-align: center;
          white-space: nowrap;
          vertical-align: middle;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
          border: 1px solid #754ef9;
          padding: 0 20px;
          font-size: 15px;
          line-height: 38px;
          border-radius: 6px;
          color: #754ef9;
          cursor: pointer;
          z-index: 5;
          -webkit-transition: all 0.3s ease-out 0s;
          -moz-transition: all 0.3s ease-out 0s;
          -ms-transition: all 0.3s ease-out 0s;
          -o-transition: all 0.3s ease-out 0s;
          transition: all 0.3s ease-out 0s;
          /* -webkit-box-shadow: 0px 5px 8px 0px rgba(118, 78, 249, 0.55);
          -moz-box-shadow: 0px 5px 8px 0px rgba(118, 78, 249, 0.55);
          box-shadow: 0px 5px 8px 0px rgba(118, 78, 249, 0.55); */
          background-color: #F4F0F2;
          }
          .btn-3:hover {
            background-color: #754ef9;
            color: #fff;
            border-color: #fff; }